<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, accusantium. Molestiae minima, iste cupiditate nobis minus necessitatibus harum itaque pariatur quo placeat unde ea. In, labore. Est cumque, illo facilis accusamus quos sit voluptatibus amet ad sint officia, natus veniam!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, accusantium. Molestiae minima, iste cupiditate nobis
    minus necessitatibus harum itaque pariatur quo placeat unde ea. In, labore. Est cumque, illo facilis accusamus quos
    sit voluptatibus amet ad sint officia, natus veniam!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, accusantium. Molestiae minima, iste cupiditate nobis
    minus necessitatibus harum itaque pariatur quo placeat unde ea. In, labore. Est cumque, illo facilis accusamus quos
    sit voluptatibus amet ad sint officia, natus veniam!</p>
  </div>
  
  <%- include('./partials/footer.ejs') %>
</body>

</html>